*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-columns: 80%;
    justify-content: center;
    margin-top: 3rem;
    background: teal;
}
.addItems-container{
    background: cornflowerblue;
}
.addItems-container,.addItems-container{
    margin: 1rem 0;
    padding: 2rem;
    border-radius: 0.5rem;
    text-align: center;
    border: 2px solid coral;
    box-shadow: 0 5px 10px coral;

}
.addItems-title,.displayItems-title{
text-transform: capitalize;
}
.addItems-title{
 color: cadetblue;
};
.addItems-action,.displayItems-action{
 border:2px solid azure;
 padding: 0.5rem 0;
 text-transform: capitalize;
 border-radius: 0.5rem;
 display: none;
}
.addItems-input{
 background: transparent;
 border:none;
 border-bottom: 5px solid #9E90A2;
 width: 100%;
 font-size: 2rem;
 padding: 0.5rem;
 color: #9E90A2;
 outline: none;
 text-transform: uppercase;
}